@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .px-global {
    @apply px-4 md:px-[2rem] lg:px-[6rem]
  }

  .btn{
    @apply flex items-center justify-center px-4 py-2 rounded-full
  }

  .btn-primary{
    @apply bg-primary-500 text-white hover:bg-primary-500/80 transition
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}
